body{
    margin: 0;
    padding: 0;
}

.navybar{
    display: flex;
    position: relative;
    top: 0;
    margin: 0;
    max-width: 100%;
    justify-content: space-between;
    padding: 1rem 5rem;
    border-bottom: 2px solid #004643;
    background-color: #FAF4D3;
    align-items: center;
    z-index: 1000;
}

.navybar .logo{
    font-size: 2rem;
    max-height: 2rem;
    overflow: hidden;
    padding: 0;
}

.navybar .links{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.navybar .link{
    line-height: 100%;
    padding: .5rem 1rem;
    list-style: none;
    width: max-content;
}

.navybar .link a{
    text-decoration: none;
    color: #444;
    transition-duration: 0.5s;
}

.navybar .link a:hover{
    color: #000;
}

.navybar .link.active{
    background-color: #004643;
    margin: 0 0.5rem;
    border-radius: 0.2rem;
}

.navybar .link.active a{
    color: white;
}

.navybar .button{
    display: none;
    flex-direction: column;
    height: 2rem;
    padding: 0;
    align-items: center;
    z-index: 1002;
}


.navybar .button .bar-1, .navybar .button .bar-2, .navybar .button .bar-3{
    width: 2rem;
    height: 0.3rem;
    background-color: #004643;
    border-radius: 0.3rem;
    margin: 0.2rem 0;
    transition-duration: .5s;
}

.navybar .button.opened .bar-1{
    transform: rotateZ(45deg) translateX(.5rem) translateY(0.4rem);
}

.navybar .button.opened .bar-2{
    transform: translateX(-100%);
    width: 0;
}

.navybar .button.opened .bar-3{
    transform: rotateZ(-45deg) translateX(.5rem) translateY(-0.4rem);
}

@media only screen and (max-width: 1024px){
    .navybar .button{
        display: flex;
    }

    .navybar .navy-collapse .links{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        margin-left: 100vw;
        width: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
        height: 100vh;
        overflow: hidden;
        transition-duration: 1s;
    }

    .navybar .navy-collapse.opened .links{
        position: fixed;
        flex-direction: column;
        height: 100vh;
        top: 0;
        left: 0;
        margin-left: 70vw;
        width: 30vw;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
    }

    .navybar .links .link{
        margin: 1em;
    }
}

@media only screen and (max-width: 720px){
    .navybar .navy-collapse .links{
        position: fixed;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 0vw;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
        height: 100vh;
        overflow: hidden;
        transition-duration: 1s;
    }

    .navybar .navy-collapse.opened .links{
        position: fixed;
        flex-direction: column;
        height: 100vh;
        top: 0;
        left: 0;
        margin-left: 0;
        width: 100vw;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
    }

    .navybar{
        padding: .5rem 2rem;
    }

    .navybar .logo{
        font-size: 1.5rem;
        max-height: 1.5rem;
    }

    .navybar .button{
        height: 1.5rem;
    }

    .navybar .button .bar-1, .navybar .button .bar-2, .navybar .button .bar-3{
        width: 1.5rem;
        height: 0.2rem;
        margin: 0.15rem 0;
    }

    .navybar .button.opened .bar-1{
        transform: rotateZ(45deg) translateX(.375rem) translateY(0.4rem);
    }

    .navybar .button.opened .bar-3{
        transform: rotateZ(-45deg) translateX(.375rem) translateY(-0.4rem);
    }
}
